@font-face {
  font-family: "iconfont"; /* Project id 2526674 */
  src: url('iconfont.woff2?t=1620151390028') format('woff2'),
       url('iconfont.woff?t=1620151390028') format('woff'),
       url('iconfont.ttf?t=1620151390028') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinyue:before {
  content: "\e680";
  color: #eeeeee;
  font-size: 30px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.icon-weibiaoti--:before {
  content: "\e60f";
  font-size: 40px;
}

.icon-visible:before {
  content: "\e711";
  font-size: 20px;
}


.icon-visible1:before {
  content: "\e6a2";
  font-size: 20px;
}

.icon-nickname:before {
  content: "\e6a0";
  font-size: 20px;
}

