@font-face {
    font-family: "JetBrains Mono";
    src: url("../font/JetBrainsMono[wght].ttf");
}

body{
    background-color:transparent;
    font-family: "Microsoft YaHei", "Microsoft YaHei UI", cursive;
}

.mainBox{
    box-shadow: 0 0 20px black;
    height: 1500px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 40px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    padding: 30px;
    font-size: 18px;
    line-height: 1em;
}

.codeHighlight{
    font-size: 14px !important;
    font-family: "JetBrains Mono", cursive;
    margin-top: 30px;
}

div.polaroid
{
    width:294px;
    padding:10px 10px 20px 10px;
    border:1px solid #BFBFBF;
    background-color:white;
    /* Add box-shadow */
    box-shadow:2px 2px 3px #aaaaaa;
    /*display: block;*/
}


div.rotate_right
{
    /*float:left;*/
    -ms-transform:rotate(-8deg); /* IE 9 */
    -moz-transform:rotate(-8deg); /* Firefox */
    -webkit-transform:rotate(-8deg); /* Safari and Chrome */
    -o-transform:rotate(-8deg); /* Opera */
    transform:rotate(-8deg);
    display: inline-block;
}